*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  height: 131px;
}
picture img {
  width: 100%;
  height: 131px;
  max-width: 200px;
}
@media screen and (min-width: 600px) {
  picture img {
    height: 231px;
    max-width: 300px;
  }
  .container {
    height: 231px;
  }
}
@media screen and (min-width: 1024px) {
  picture img {
    width: 100%;
    height: 331px;
    max-width: 600px;
  }
  .container {
    height: 331px;
  }
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 5px 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.number {
  color: #00264d;
  font-size: 0.5rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}
.last-update {
  margin: 0px;
  font-size: 0.5rem;
}
.wrapper-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button:hover {
  background: #0056b3;
}
button:disabled {
  background: gray;
  cursor: not-allowed;
}
.animated-button {
  position: relative;
  width: 150px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #00264d;
  color: white;
  transition: 0.3s;
  border: none;
  outline: none;
}

@media screen and (min-width: 600px) {
  .animated-button {
    height: 40px;
    width: 300px;
    font-size: 1rem;
  }
  .number {
    font-size: 2rem;
  }
  .last-update {
    font-size: 1rem;
  }
}

.animated-button::before,
.animated-button::after,
.animated-button span,
.animated-button span::before {
  content: "";
  position: absolute;
  background: red;
}

.animated-button::before {
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.25s linear;
}

.animated-button::after {
  top: 0;
  right: 0;
  width: 2px;
  height: 0;
  transition: height 0.25s linear 0.25s;
}

.animated-button span {
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.25s linear 0.5s;
}

.animated-button span::before {
  bottom: 0;
  left: 0px;
  width: 2px;
  height: 0px;
  transition: height 0.25s linear 0.75s;
}

.animated-button:hover::before {
  width: 100%;
}

.animated-button:hover::after {
  height: 100%;
}

.animated-button:hover span {
  width: 100%;
}

.animated-button:hover span::before {
  height: 20px;
}
@media screen and (min-width: 600px) {
  .animated-button:hover span::before {
    height: 40px;
  }
}
